In [7]:
# prtyon ar katre ami jodi input neta chi thoel amke se input hisabe neba exampol


x = input()

x[0]


# jodi string ar khatre se 0 ta 1 kore deba

 # python jay kono kicu user ar kaj thke string akare ane

1

'1'

In [8]:
# string a int ar convert kora 


x = "10";

x = int(x) # ay x ar varibal ta ke se number a  convert korca

print(x)

10

In [9]:
type(x)

int

In [16]:
x = input(" Convert your your string " )

x = int(x)


print(x)

type(x)

 Convert your your string 10
10

int

In [22]:
# flote many string ta ke dosomic akare print kore 


y = float(10.35)

y = 10 

 print(y)

IndentationError: unexpected indent (<ipython-input-22-b688d37d750e>, line 8)